<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script src="{% static 'js/generate_sentences.js' %}"></script>
    <script src="{% static 'js/judge_entailment.js' %}"></script>
    <script src="{% static 'js/get_cookie.js' %}"></script>
    <title>Assignment Page</title>
</head>
<body>
    <div style="display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4px;">
        <div style="text-align: center;">
            <h1>Assignment Page</h1>
            <p>
                <button id="invokeF1">F1</button>
            </p>
            <p>
                <button id="invokeF2">F2</button>
            </p>
        </div>
        <div id="sentences"></div>
        <div id="results"></div>
    </div>
    <script>
        document.getElementById('invokeF1').addEventListener('click', generateSentences);
        document.getElementById('invokeF2').addEventListener('click', () => generateSentences(true));
    </script>
</body>
</html>
